<div class="home-container">
    <div class="banner">
      <h1>TezShopga Xush Kelibsiz!</h1>
      <p>Eng so‘nggi va arzon mahsulotlar bizda!</p>
    </div>
  
    <div class="categories">
      <h2>Kategoriyalar</h2>
      <ul>

      </ul>
    </div>
  
    <div class="featured-products">
      <h2>Tavsiya etilgan mahsulotlar</h2>
      <p>Mahsulotlar ro‘yxati komponenti bu yerda chiqadi...</p>
      <!-- Agar ProductListComponent ni shu sahifaga joylashtirmoqchi bo‘lsangiz: -->
      <!-- <app-product-list></app-product-list> -->
    </div>
  </div>
  